<header class="header">
  <div class="header__container container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img src="./img/static/logo.svg" alt="123" />
      </a>

      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link" data-text="О Нас">О Нас</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Преимущества</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Сотрудничество</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <button class="header__button button">Оставить заявку</button>
    </div>
  </div>
</header>
